@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Pen+Script&display=swap');

h1 {
    font-family: 'Goldman', cursive;
    background-color: black;
    color: white;
    padding: 1%;
    margin: 0px;
}

#titlebar{
    color : black;
}

canvas {
    border: 5px solid black;
    border-radius: 5%; 

    overflow: hidden;
    background-color: black;
    vertical-align: middle;
    
}

.video_layer {
    display: inline-block;
    position: absolute;
    left: 50%;
    width: 95%;
    height: 70%;
    transform: translate(-50%, 0);
}

#my_canvas {
    width: 49%;
    height: 100%;
    float: left;
}

#opponent_canvas{
    width: 49%;
    height: 100%;
    float: right;
}

#my_video {
    display:inline-block;
    visibility: hidden;
    vertical-align: middle;
}

#hands {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 20pt;
}

