@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

h1 {
    font-family: 'Nanum Pen Script', cursive;
}

#my_canvas {
    border: 5px solid black;
    border-radius: 20px; 
    overflow: hidden;
    background-color: black;
}

#my_video {
    visibility: hidden;
}
