<!doctype html>
<html>

<head>
    <title>RPS Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Require the peer dependencies of handpose. -->
    <script src="https://unpkg.com/@tensorflow/tfjs-core@2.1.0/dist/tf-core.js"></script>
    <script src="https://unpkg.com/@tensorflow/tfjs-converter@2.1.0/dist/tf-converter.js"></script>
    <!-- You must explicitly require a TF.js backend if you're not using the tfs union bundle. -->
    <script src="https://unpkg.com/@tensorflow/tfjs-backend-webgl@2.1.0/dist/tf-backend-webgl.js"></script>
    <!-- Alternatively you can use the WASM backend: <script src="https://unpkg.com/@tensorflow/tfjs-backend-wasm@2.1.0/dist/tf-backend-wasm.js"></script> -->
    <script src="https://unpkg.com/@tensorflow-models/handpose@0.0.6/dist/handpose.js"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
</head>

<body>    
    <div id = "titlebar">
        <h1>DSC-UOS CV<br>RPS(RockPaperScissors)</h1>
    </div>
        <img src = " {{ url_for('static', filename='image/dsclogo.png') }} " width=150, height=90, style = "float:right" />
    <p>
        Project Ongoing...<br>
        See you Sprint 3!
    </p>
    
    <div>
        <div>당신의 선택은 : </div>
        <div id="hands"> 
            <div id="handshape">(로딩중)</div>
        </div>
        <div id="mode" value=mode>
            {% if mode == "debug" %}
            Debug
            {% endif %}
        </div>
        {% if mode == "debug" %}
        <div id="thumb">엄지</div>
        <div id="index">검지</div>
        <div id="middle">중지</div>
        <div id="ring">약지</div>
        <div id="pinky">소지</div>
            {% endif %}
    </div>
    <script type="text/javascript">
        $("#handshape").on("propertychange change keyup paste input", () => {
            var currentVal = $(this).val();
            if(currentVal != oldVal) {
                oldVal = currentVal;
            }
        });
        $("#thumb").on("propertychange change keyup paste input", () => {
            var currentVal = $(this).val();
            if(currentVal != oldVal) {
                oldVal = currentVal;
            }
        });
        $("#index").on("propertychange change keyup paste input", () => {
            var currentVal = $(this).val();
            if(currentVal != oldVal) {
                oldVal = currentVal;
            }
        });
        $("#middle").on("propertychange change keyup paste input", () => {
            var currentVal = $(this).val();
            if(currentVal != oldVal) {
                oldVal = currentVal;
            }
        });
        $("#ring").on("propertychange change keyup paste input", () => {
            var currentVal = $(this).val();
            if(currentVal != oldVal) {
                oldVal = currentVal;
            }
        });
        $("#pinky").on("propertychange change keyup paste input", () => {
            var currentVal = $(this).val();
            if(currentVal != oldVal) {
                oldVal = currentVal;
            }
        });
        </script>

    <div class="videobox">
        <canvas id="my_canvas"></canvas>
        <video id="my_video" autoplay></video>
        <script type="text/javascript" src="{{ url_for('static', filename='js/handpose.js') }}"></script>
    </div>
</body>

</html>