<!doctype html>
<html>

<head>
    <title>RPS Project</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    {% if name %}
    <h1>Hello {{ name }}!</h1>
    {% else %}
    <h1> Hello, World!</h1>
    {% endif %}
    <p>
        Project Ongoing...<br>
        See you 20/12/25!
    </p>

    <!--웹캠 연결-->
    <div class="videobox">
        <video autoplay playsinline></video>
        <script type="text/javascript" 
                src="{{ url_for('static', filename='js/main.js') }}">
        </script>
    </div>
</body>

</html>